*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    font-size: 62.5%;
    --font-primary:'Poppins', sans-serif;
    --text-color: #303030;
    --color-primary: hsl(194,100%,63%);
}
body{
    font-size: 1.6rem;
    color: var(--text-color);
    font-family: var(--color-primary);
    background-color: rgb(242, 248, 248);
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2.5rem 0 ;
}
header h1{
    font-size: 2rem;
    text-transform: uppercase;

}

.search{
    display: flex;
    align-items: center;
}

.search input{
    height: 3.2rem;
    border: 1px solid #ccc;
    border-radius: .4rem 0 0 .4rem;
    padding: 0 .8rem;
}

.search button{
    background-color: var(--color-primary);
    border-radius: 0 .4rem .4rem 0;
    height: 3.2rem;
    border: none;
    padding:  0 1rem;

    cursor: pointer

}
.search button:hover{
    filter: brightness(1.1);
}

/* tabela  */
table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem -1rem  rgb(141, 140, 140);

}
table * {
    font-size: 1.4rem;
    color: var(--text-color);

}

table th{
    background:var(--color-primary);
    text-align: left;
    font-weight: bold;
    padding: 1.5rem;

}

table th:first-child{
    border-bottom-left-radius: .4rem;
}
table th:last-child{
    border-top-right-radius: .4rem;
}

table td{
    padding: 1.5rem;
    text-align:left ;
    
}

table tr{
    background: #eee;
    
}
table tr:nth-child(odd){
    background: #ddd;
}

td.user{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
td.user img{
width: 5rem;
height: 5rem;

object-fit: cover;
border-radius: 50%;
}
td.user a{
text-decoration: none;
}

td.user a p {
    font-weight: bold;

}
td.remove button{
    background: none;
    border: none;
    color: red;

}